/* 页面样式 */
.g-banner{position:relative;height:250px;left:50%;width:100%;min-width:1200px;margin-left:-50%;overflow:hidden;}
.g-banner img{position:absolute;left:50%;top: 50%; width:100%; transform: translate(-50%, -50%);}
.g-body{width:745px;margin:0 auto 50px;}
/* 作者简介 */
.g-profile{height:216px;margin-top:-95px;background-color:#fff;position: relative}
/* 主内容区 */
.g-main{position:relative;width:745px;padding-bottom:28px;margin-bottom:48px;background-color:#fff;}
.m-aside{position:absolute;left:-100px;width:100px;height:276px;background-color:#fff;}
.g-wrap{margin:0 14px;padding:0 36px;min-height:300px;border-top:1px solid #e2e3e3;}


/* 侧边栏组件 样式 */
.m-aside li{width:100px;height:46px;line-height:46px;text-align:center;font-size:11px;color:#5ed0ba;background:#fdfdfd;}
.m-aside li.z-active{background:#5ed0ba;color:#fff;}
.m-aside li.msg{position:relative;}
.m-aside li.msg::before{content:'';position:absolute;top:5px;right:8px;z-index:99;width:8px;height:8px;-webkit-border-radius:50%;border-radius:50%;background:#e55f48;}

/* 用户简介 组件样式 */
.m-profile{padding-top:27px;box-sizing:border-box;text-align:center;}
/* 头像 */
.m-profile .u-avatar{height:111px;background:url(../img/avatar.png) 50% 50%/contain no-repeat;}
/* 用户信息 */
.m-profile .u-info{margin:10px 5px;line-height:1em;font-size:11px;color:#727171;}
.m-profile .u-info .age{margin-left:-18px}
/* 名称与性别 */
.m-profile em,.m-profile span{display:inline-block;}
.m-profile .name{display:inline-block;max-width:75px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size:15px;line-height:1em;color:#000;font-weight:900;}

.m-profile .u-icon{font-size:18px;font-weight:900;}
.m-profile .address-info{margin-top: -2px}
.m-profile .address-info .u-icon-address{width: 11px;height:16px;background: url("../img/small.png") no-repeat 0 -32px}
.m-profile .u-icon.u-icon-female{width: 11px;height: 17px;background: url("../img/small.png") no-repeat 0 -15px;margin-left: 5px}
/* 年龄、星座、地址 */
.m-profile .constellation{margin-left:3px;}
.m-profile .u-icon-address{margin-left:12px;margin-right: -2px;}

/* 作品列表组件 */
/* 标题区域 */
.m-workstitle{display:flex;position:relative;z-index:1;justify-content:space-between;align-items:center;margin-top:19px;margin-bottom:27px;}
.m-workstitle .title{font-size:13px;letter-spacing: 2px;font-weight: bold}
.m-workstitle .u-btn{display: inline-block;width:90px;height:38px;background:#5eccb6;line-height: 38px;cursor: pointer;text-decoration: none;text-align: center;font-size:11px;border-radius: 3px;border: 1px solid #5ed0ba;}
.m-workstitle .u-btn a{display:block;color:#fff;}
.m-workstitle img{position:absolute;margin: 120px 0 0 290px}
/* 列表区域 */
.m-workslist{display:-webkit-flex;display:flex;flex-wrap:wrap;margin-right:-29px;}
.m-workslist .item{position:relative;width:103px;height:160px;border:1px solid #d3d4d4;box-sizing:border-box;margin-right:29px;margin-bottom:23px;}
.m-workslist .item a{display:block;width:103px;height:160px;}
.m-workslist .item a::before{position:absolute;top:2px;right:2px;bottom:-4px;left:-4px;border:1px solid #d7d7d7;background-color:#c5c6c6;content:"";}
.m-workslist .item img{position:absolute;top:5px;right:5px;bottom:-7px;left:-7px;width:103px;height:160px;border:1px solid #d7d7d7;border-top:none;border-right:none;box-sizing:border-box;}
.m-workslist .item h3{position:absolute;bottom:-6px;left:-6px;right:6px;height:30px;line-height:30px;background:rgba(255,255,255,.8);text-align:center;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size:12px;}
/* 编辑与删除图标 */
.m-workslist .item .icons{display:none;position:absolute;top:5px;right:5px;bottom:-7px;left:-7px;background:rgba(0,0,0,0.5);font-weight:700;text-align:right;color:#fff;}
.m-workslist .item .icons .u-icon{cursor:pointer;}
.m-workslist .item .icons .u-icon:last-child{margin-right:4px;}
.m-workslist .item:hover .icons{display:block;}
/* 无作品时，显示文案样式 */
.m-workslist .cnt{font-size:13px;}

/* Modal 组件样式 */
.m-modal{position:fixed;z-index:999;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);}
/* 内容区 */
.m-modal > div{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);border:1px solid #e4e4e2;background:#fff;}

/* 确认弹窗 组件样式 */
.m-confirmmodal{position:relative;width:408px;padding:10px 12px;border:1px solid #a8a8a8;box-sizing:border-box;}
/* 关闭弹窗按钮 */
.m-confirmmodal .close_btn{position:absolute;right:9px;top:9px;font-size:15px;color:#c0c0c1;cursor:pointer;}
/* 标题 */
.m-confirmmodal .modal_tt{margin-bottom:10px;line-height:1em;color:#5ed0ba;font-size:15px;}
/* 内容 */
.m-confirmmodal .modal_ct{border-top:1px solid #e9eaea;text-align:center;}
.m-confirmmodal .modal_ct .confirm_msg{margin-top:24px;font-size:14px;}
.m-confirmmodal .modal_ct .confirm_msg span{color:#5ed0ba;}
.m-confirmmodal .modal_ct .confirm_msg input{width:200px;height:35px;box-sizing:border-box;line-height:35px;border-color:#d7d7d7;}
.m-confirmmodal .modal_ct .u-btn{width:90px;margin-top:24px;margin-bottom:5px;}
.m-confirmmodal .modal_ct .u-btn + .u-btn{margin-left:20px;}

/* 分页器组件 */
.m-pagination{margin-top:27px;text-align:center;}
.m-pagination li{display:inline-block;margin-left:25px;font-size:11px;line-height:32px;text-align:center;color:#5eccb6;cursor:pointer;}
/* 当前选中状态 */
.m-pagination li.z-active{width:29px;height:32px;margin-left:10px;background:url(../img/page.png) 50% 50%/100% 100% no-repeat;color:#fff;}
.m-pagination li.z-active + li{margin-left:14px;}
/* 禁止点击状态 */
.m-pagination li.disable{cursor:no-drop;}

